
1.Vooronderzoek, requirements vaststellen/Databases SQL tekst.docx
1.Vooronderzoek, requirements vaststellen/Definitiestudie.docx
1.Vooronderzoek, requirements vaststellen/Klassendiagram Login.pdf
1.Vooronderzoek, requirements vaststellen/Project Database (cth) SQL.vpp
1.Vooronderzoek, requirements vaststellen/Project Database (cth) SQL.vpp.bak_000f
1.Vooronderzoek, requirements vaststellen/Requirements.docx
1.Vooronderzoek, requirements vaststellen/Risico- en beveiligingsanalyse.docx
1.Vooronderzoek, requirements vaststellen/Sequentie diagram Login.pdf
1.Vooronderzoek, requirements vaststellen/Use-case diagram demo drop v3.pdf
1.Vooronderzoek, requirements vaststellen/Use-case diagram Promoteam Portal.pdf
1.Vooronderzoek, requirements vaststellen/Use-case diagram v4.pdf
2.Ontwerp & Prototyping/Don diablo app.xd
2.Ontwerp & Prototyping/UX opdracht.docx
3.Front end& Back enddevelopment/background.jpg
3.Front end& Back enddevelopment/favicon.jpg
3.Front end& Back enddevelopment/hexalent.css
3.Front end& Back enddevelopment/hexalent.html
3.Front end& Back enddevelopment/hexalent/package-lock.json
3.Front end& Back enddevelopment/hexalent/package.json
3.Front end& Back enddevelopment/hexalent/public/favicon.ico
3.Front end& Back enddevelopment/hexalent/public/index.html
3.Front end& Back enddevelopment/hexalent/public/manifest.json
3.Front end& Back enddevelopment/hexalent/README.md
3.Front end& Back enddevelopment/hexalent/src/App.css
3.Front end& Back enddevelopment/hexalent/src/App.js
3.Front end& Back enddevelopment/hexalent/src/App.test.js
3.Front end& Back enddevelopment/hexalent/src/index.css
3.Front end& Back enddevelopment/hexalent/src/index.js
3.Front end& Back enddevelopment/hexalent/src/logo.svg
3.Front end& Back enddevelopment/hexalent/src/serviceWorker.js
3.Front end& Back enddevelopment/Hexalent_logo_black.png
3.Front end& Back enddevelopment/Hexalent_logo_white.png
3.Front end& Back enddevelopment/index.css
3.Front end& Back enddevelopment/Index.html
3.Front end& Back enddevelopment/login.css
3.Front end& Back enddevelopment/maxresdefault.jpg
3.Front end& Back enddevelopment/promo.css
3.Front end& Back enddevelopment/promo.html
3.Front end& Back enddevelopment/register.css
3.Front end& Back enddevelopment/register.html
Design/Don diablo app.xd
Design/Eindopdracht_Don_Diablo_wireframe.xd
Design/UX opdracht.docx
Files/Eindopdracht Bootcamp Full Stack Developer (1).pdf
Frontend/background.jpg
Frontend/eindopdracht/package-lock.json
Frontend/eindopdracht/package.json
Frontend/eindopdracht/public/favicon.ico
Frontend/eindopdracht/public/index.html
Frontend/eindopdracht/public/manifest.json
Frontend/eindopdracht/README.md
Frontend/eindopdracht/src/App.css
Frontend/eindopdracht/src/App.js
Frontend/eindopdracht/src/App.test.js
Frontend/eindopdracht/src/index.css
Frontend/eindopdracht/src/index.js
Frontend/eindopdracht/src/logo.svg
Frontend/eindopdracht/src/serviceWorker.js
Frontend/hexalent.css
Frontend/hexalent.html
Frontend/Hexalent_logo_black.png
Frontend/Hexalent_logo_black_white.png
Frontend/index.css
Frontend/Index.html
Frontend/login.css
Frontend/maxresdefault.jpg
Frontend/register.css
Frontend/register.html
Vooronderzoek en requirements/Databases SQL tekst.docx
Vooronderzoek en requirements/Definitiestudie.docx
Vooronderzoek en requirements/Klassendiagram Login.pdf
Vooronderzoek en requirements/Project Database (cth) SQL.vpp
Vooronderzoek en requirements/Project Database (cth) SQL.vpp.bak_000f
Vooronderzoek en requirements/Requirements.docx
Vooronderzoek en requirements/Requirements_eindopdracht.docx
Vooronderzoek en requirements/Risico- en beveiligingsanalyse.docx
Vooronderzoek en requirements/Sequentie diagram Login.pdf
Vooronderzoek en requirements/Use-case diagram demo drop v3.pdf
Vooronderzoek en requirements/Use-case diagram Promoteam Portal.pdf
Vooronderzoek en requirements/Use-case diagram v4.pdf
Design/Don diablo app.xd
Design/Eindopdracht_Don_Diablo_wireframe.xd
Design/UX opdracht.docx
Frontend/background.jpg
Frontend/eindopdracht/package-lock.json
Frontend/eindopdracht/package.json
Frontend/eindopdracht/public/favicon.ico
Frontend/eindopdracht/public/index.html
Frontend/eindopdracht/public/manifest.json
Frontend/eindopdracht/README.md
Frontend/eindopdracht/src/App.css
Frontend/eindopdracht/src/App.js
Frontend/eindopdracht/src/App.test.js
Frontend/eindopdracht/src/index.css
Frontend/eindopdracht/src/index.js
Frontend/eindopdracht/src/logo.svg
Frontend/eindopdracht/src/serviceWorker.js
Frontend/hexalent.css
Frontend/hexalent.html
Frontend/Hexalent_logo_black.png
Frontend/Hexalent_logo_black_white.png
Frontend/index.css
Frontend/Index.html
Frontend/login.css
Frontend/maxresdefault.jpg
Frontend/register.css
Frontend/register.html
Vooronderzoek en requirements/Databases SQL tekst.docx
Vooronderzoek en requirements/Definitiestudie.docx
Vooronderzoek en requirements/Klassendiagram Login.pdf
Vooronderzoek en requirements/Project Database (cth) SQL.vpp
Vooronderzoek en requirements/Project Database (cth) SQL.vpp.bak_000f
Vooronderzoek en requirements/Requirements.docx
Vooronderzoek en requirements/Requirements_eindopdracht.docx
Vooronderzoek en requirements/Risico- en beveiligingsanalyse.docx
Vooronderzoek en requirements/Sequentie diagram Login.pdf
Vooronderzoek en requirements/Use-case diagram demo drop v3.pdf
Vooronderzoek en requirements/Use-case diagram Promoteam Portal.pdf
Vooronderzoek en requirements/Use-case diagram v4.pdf
